# --- Build Java/Maven
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# --- Logs & runtime
*.log
hs_err_pid*
rebel.xml

# --- IDE
*.iml
.idea/
.project
.classpath
.factorypath
.settings/
*.launch
.vscode/

# --- OS
.DS_Store
Thumbs.db

# --- Node
node_modules/

# --- Python tests
__pycache__/
*.pyc
.venv/
.env

# --- Archives
*.zip
*.tar
*.tar.gz

# --- Others
generate_raw_urls.py
raw_urls.txt